apiVersion: v1
kind: Service
metadata:
  name: node-app-service
spec:
  type: NodePort   # Use LoadBalancer if on EKS
  selector:
    app: node-app
  ports:
    - protocol: TCP
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}